body{
    background-color:lightslategray;
    font-family: 'Inter',sans-serif;
}


.project-header{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 45px;
    color: white;
    font-size: 25px ;
}




.search-div>input{
   border: 1px solid black;
   height: 45px;
   width: 28vw;
   border-radius: 5px;
   background-color: #282B4E;
   padding-left: 40px;
   color:white;
   border: none;
   font-size: 16px;
   position: relative;
}
.search-div>img{
    position: absolute;
    z-index: 10;
    padding-left: 15px;
    padding-top: 15px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.add-btn >button{
    padding: 14px 30px;
    border-radius: 5px;
    border: none;
    background-color: #403570;
    color: white;
    font-size: 18px;
}

.content-section{
    margin-left: 5vw;
    margin-right: 5vw;
}

.data-item, .content-section>div{
    background-image: url('./Images/Rectangle.png');
     background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;  
    padding: 7px 20px ;
    border-radius: 10px;
}



.hidden {
    display: none !important;
  }
  
  #formContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #formContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  

  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-btn> label {
    display: block;
    margin-top: 10px;
}
#cityForm> input,#cityForm>select {
    width: 90%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-div>button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-div{
    display: flex;
    justify-content: space-between;
}

.content-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vw;
    row-gap: 3vw;
    margin-top: 50px;
    text-align: center;
}
.content-section div{
    color: white;
    border-radius: 55px;
}


.already-exist-city-div{
    display: none;
  }

  h4{
    color:red ;
  }

  .btn-div-hidden{
      display: none;
  }
  .already-exist-city-div{
    display: none ;
  }
  .invalid-city-div{
    display: none;
  }

  button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width:1250px) and (min-width:800px){
    .content-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4vw;
        row-gap: 3vw;
        margin-top: 50px;
        text-align: center;  
    }
    .content-section>div{
        margin:auto;
     }
}
@media screen and (max-width:800px){
    .content-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 4vw;
        row-gap: 3vw;
        margin-top: 50px;
        text-align: center;
    }
    .content-section>div{
       margin:auto;
    }
}
